body{
    background-color: rgb(241, 237, 239);
}
h1{
    text-align: center;
    color: black;
}
h2{
    text-align: center;
    color: rgb(255, 251, 4);
}
p{
    text-align: center;
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-family:  Arial, Helvetica, sans-serif ;
}
p strong{
    color: #00ff00;
}