body{
    background-image: linear-gradient(30deg,rgba(247, 60, 231, 0.945),rgb(255, 255, 255));
}
div{
    background-color: rgb(247, 60, 231, 0.945);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 70px;
    border-radius: 45px;
    color: rgb(255, 255, 255);
}
input{
    padding: 4px;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
button{
    background-color: rgb(247, 123, 236, 0.945);
    border-radius: 55px;
    border: none;
    padding: 10px;
    width: 100%;
    color: black;
    font-size: 15px;
}
button:hover{
    background-color: fuchsia;
    cursor: pointer;
}
 .login{
display: flex;
    flex-direction: column;
    gap: 10px;
}
.R{
    display: block;
  margin: 0 auto 20px auto;/*  centraliza e da espaço abaixo */
  max-width: 180px ;
}
.cadastro{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}
.cadastro a{
    color: aqua;
    text-decoration: none;
    font-weight: bold ;
}
.cadastro a:hover{
    text-decoration: underline;
}